<% if object.errors.any? %>
  <div id ="error_explanation">
    <h2>There were some errors.</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
