<h1><%= @ingredient.name %></h1>

<p><%= @ingredient.name %> is used in the following recipes:</p>

<ul>
  <% @ingredient.recipes.uniq.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>
