<h1>Quick and Easy Recipes</h1>

<p>Welcome to Quick and Easy Recipes, a website where you can share, you guessed it, your quickest and easiest recipes! </p>

<h4>Please Sign In or Create an Account Below!</h4>

<p><%= link_to "Sign In", login_path %></p>
<p><%= link_to "Create an Account", new_user_path %></p>
